apiVersion: v2
name: capsule-argo-addon
description: Capsule Argo Addon
type: application
version: 0.1.0
appVersion: "1.16.0"
home: https://github.com/peak-scale/capsule-argo-addon
icon: https://github.com/projectcapsule/capsule/raw/main/assets/logo/capsule_small.png
keywords:
- kubernetes
- operator
- multi-tenancy
- multi-tenant
- multitenancy
- multitenant
- argocd
- argo-cd
- argo
- gitops
sources:
  - https://github.com/peak-scale/capsule-argo-addon
dependencies:
  - name: capsule-proxy
    version: 0.7.2
    repository: "oci://ghcr.io/projectcapsule/charts"
    condition: proxy.enabled
    alias: proxy
